<IfModule mod_rewrite.c>
    # Block access to hidden files like .env, .htaccess, .gitignore
    <FilesMatch "^\.">
        Require all denied
    </FilesMatch>

    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirect all requests to public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
